:root {
  --main: #e4c1f9;
}

.header__nav a {
  color: var(--main);
}

.fcolor {
  color: var(--main);
}

.header {
  height: 200px;
  gap: 20px;
}

.header__nav {
  height: 40px;
}

.header-decoration {
  height: 54px;
  margin-top: 40px;
  background: linear-gradient(to top left, transparent 50%, var(--gray) 51%);
  margin-bottom: 0px;
}

.main {
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  margin: auto;
}

#main-title {
  text-align: center;
}

.main__desc-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 320px;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
}

label {
  font-weight: bold;
  font-size: 18px;
}

::placeholder {
  font-size: 15px;
  color: var(--black-2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.input {
  outline: none;
  width: 100%;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: var(--black);
  border: 2px solid var(--black);
  background-color: transparent;
}

button {
  width: 100%;
  background-color: var(--black-3);
  border: none;
  height: 35px;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: var(--black-2);
  transition-duration: 0.4s;
}

.result {
  color: var(--black);
  font-size: 18px;
  font-weight: bold;
  width: 40%;
  height: 150px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

/* ------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 1160px) {

  label {
    text-align: center;
  }

  .main__desc-form, .result {
    width: 50%;
  }
}

@media screen and (max-width: 870px) {
  .main__desc-form, .result {
    width: 70%;
  }

  #main-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .header__info-desc {
    font-size: 14px;
  }

  .main__desc-form, .result {
    width: 90%;
  }
}
