:root {
  --main: #87d1ab;
}

.header__nav a {
  color: var(--main);
}

.fcolor {
  color: var(--main);
}

.header {
  height: 200px;
  gap: 20px;
}

.header__nav {
  height: 40px;
}

.header-decoration {
  height: 54px;
  margin-top: 40px;
  background: linear-gradient(to top left, transparent 50%, var(--gray) 51%);
  margin-bottom: -30px;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  margin-top: 35px;
  padding-bottom: 10px;
}

.main__figuras {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 400px;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 3px;
  text-align: center;
}

.main__figuras-form {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
  text-align: center;
}

svg {
  width: 150px;
}

path {
  fill: var(--black);
}

.result {
  color: var(--black);
  font-size: 30px;
  font-weight: bold;
}

label {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

::placeholder {
  font-size: 15px;
  color: var(--black-2);
}

.input {
  outline: none;
  width: 300px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: var(--black);
  border: 2px solid var(--black);
  background-color: transparent;
}

button {
  width: 300px;
  background-color: var(--black-3);
  border: 2px solid var(--black-3);
  height: 30px;
  color: var(--main);
  letter-spacing: 3px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  color: white;
  background-color: var(--black);
  transition: 1s;
}

.form__input-tri {
  display: flex;
}

.tri {
  width: 75px;
}

.triIC {
  width: 150px;
}

/* ------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 780px) {
  .main {
    grid-template-columns: 1fr;
  }

  .header__info-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 466px) {
  .header__info-title {
    font-size: 30px;
  }

  .header__info-desc {
    font-size: 14px;
  }
}
